<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Movies</title>
</head>
<body>

{% extends 'base.html' %}
{% block content %}
    <h1>Top Grossing Movies by Year</h1>
    {% for year, movies in top_movies | groupby('year') %}
        <h2>Year {{ year }}</h2>
        <table>
            <tr>
                <th>Rank</th>
                <th>Title</th>
                <th>Gross</th>
            </tr>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.rank }}</td>
                    <td>{{ movie.title }}</td>
                    <td>${{ movie.gross | intcomma }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}

</body>
</html>